#events
  .container
    .event-presentor.text-center.v-spacer-md
      %span
        = image_tag("aok-logotype.png", style: "height: 20px;", class: "img-fluid")
        %h4 PRESENTS
    .event-logo.text-center.v-spacer-sm
      = image_tag("unite-shine.png", style: "height: 100px;", class: "img-fluid")
      %h6 BENEFIT BASH
      %h4 featuring JAY PARK
    .event-artist.text-center.v-spacer-xl
      = image_tag("jpark.png", style: "height: 150px;", class: "img-fluid")
    .event-partners.text-center.v-spacer-sm
      %h6 in partnership with
      %span
        = image_tag("yeppunonnie.png", style: "height: 70px;", class: "img-fluid")
        = image_tag("valjohn.png", style: "height: 70px;", class: "img-fluid")

    .event-details.text-center.v-spacer-md
      %span
        .event-date
          %h4 September 16, 2017 — 5pm
        .event-venue
          %h4 McKinley West Festival Grounds

  .v-spacer-lg

