#press
  .container
    %h1.text-center.v-spacer-xl
      In The Press

    .row.v-spacer-lg.text-center
      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-2nd.png", style: "height: 150px")
          .caption
            %h4 Entechpreneur: AOK Changes The Way You Look At Art And Kindness
            %p= "Stan Miao, founder of multiple businesses and author of so many ideas, sat opposite me with tears streaming down his cheeks. ".truncate(120)
            = link_to "Read More", "http://2ndopinion.ph/2017/05/11/aok-changes-the-way-you-look-at-art-and-kindness/#", class: "btn btn-block btn-primary", target: "_blank"

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-vice.gif", style: "height: 150px")
          .caption
            %h4 Los animales en peligro de extinción tienen un nuevo aliado
            %p= "El filipino Patrick Cabral está ayudando a los animales en peligro de extinción con poderosos retratos hechos de capas de papel...".truncate(120)
            = link_to "Read More", "https://creators.vice.com/es_mx/article/kze9qv/los-animales-en-peligro-de-extincion-tienen-un-nuevo-aliado-arte-en-papel-cortado", class: "btn btn-block btn-primary", target: "_blank"

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-modernmet.png", style: "height: 150px")
          .caption
            %h4 Intricately Cut Paper Portraits of Endangered Animals Around the World
            %p= "Philippines-based creative Patrick Cabral is a man of many talents. At age 11, he discovered a love for calligraphy, but as he got older he was drawn to a career in the digital world as a web programmer and animator.".truncate(120)
            = link_to "Read More", "http://mymodernmet.com/animals-paper-cutting-art/#", class: "btn btn-block btn-primary", target: "_blank"

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-yjapan.png", style: "height: 150px")
          .caption
            %h4 心奪われる、どうぶつの切り絵たち。そこには隠されたメッセージが
            %p= "真っ白な紙から切り出される、動物たち。これらの作品には、ある共通点があります。どの動物も、絶滅危惧種なのです。".truncate(120)
            = link_to "Read More", "https://www.buzzfeed.com/jp/eimiyamamitsu/paper-cutout-animals?utm_term=.pp7mYjbxB#.cuj8JBzxP", class: "btn btn-block btn-primary", target: "_blank"


    .row.v-spacer-lg.text-center
      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-db.jpg", style: "height: 150px")
          .caption
            %h4 patrick cabral's breathtaking papercuts raise awareness for endangered species
            %p= "after posting on instagram that he wanted to create a piece of art for charity, filipino artist patrick cabral (a.k.a darkgravity) was approached by start-up ‘act of kindness’ about collaborating on a project.".truncate(100)
            = link_to "Read More", "http://www.designboom.com/art/patrick-cabral-endangered-species-papercut-05-16-2017/#", class: "btn btn-block btn-primary", target: "_blank"

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-sp.jpg", style: "height: 150px")
          .caption
            %h4 Gorgeous Endangered Species Series In Cut Paper
            %p= "Patrick Cabral wowed us previously with his initial exploration of the animal form. He was able to accentuate the gorgeous details such as fur and unique markings using several sheets of paper...".truncate(120)
            = link_to "Read More", "http://strictlypaper.com/blog/2017/04/aok-patrick-cabral-endangered-species-series-in-cut-paper-brings-awareness-to-great-cause/#", class: "btn btn-block btn-primary", target: "_blank"

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-martha.png", style: "height: 150px")
          .caption
            %h4 This Crafter is Using Paper to Help Save Endangered Species
            %p= "Have any of you ever seen a woolly mammoth, the dodo bird or a sabre-toothed cat? The answer would definitely be no, considering that these animals became extinct long before we were born.".truncate(120)
            = link_to "Read More", "http://www.marthastewart.com/1515763/patrick-cabral-using-paper-art-help-save-endangered-species#", class: "btn btn-block btn-primary", target: "_blank"

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-storytrender.png", style: "height: 150px")
          .caption
            %h4 Fragiline Futures - Beautiful Cut-Outs Of Endangered Species
            %p= "The beautiful cut-outs of the world’s most endangered species perfectly capture the fragile futures these animals face.".truncate(100)
            = link_to "Read More", "https://www.storytrender.com/12970/fragile-futures-beautiful-cut-outs-worlds-endangered-species/#", class: "btn btn-block btn-primary", target: "_blank"

    .v-spacer-xl
