#press
  .container
    %h1.text-center.v-spacer-xl
      In The Press

    .row.v-spacer-lg.text-center
      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-sp.jpg", style: "height: 150px")
          .caption
            %h4 Gorgeous Endangered Species Series In Cut Paper
            %p= "Patrick Cabral wowed us previously with his initial exploration of the animal form. He was able to accentuate the gorgeous details such as fur and unique markings using several sheets of paper...".truncate(120)
            = link_to "Read More", "http://strictlypaper.com/blog/2017/04/aok-patrick-cabral-endangered-species-series-in-cut-paper-brings-awareness-to-great-cause/#", class: "btn btn-block btn-primary", target: "_blank"

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-martha.png", style: "height: 150px")
          .caption
            %h4 This Crafter is Using Paper to Help Save Endangered Species
            %p= "Have any of you ever seen a woolly mammoth, the dodo bird or a sabre-toothed cat? The answer would definitely be no, considering that these animals became extinct long before we were born.".truncate(120)
            = link_to "Read More", "http://www.marthastewart.com/1515763/patrick-cabral-using-paper-art-help-save-endangered-species#", class: "btn btn-block btn-primary", target: "_blank"

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-2nd.png", style: "height: 150px")
          .caption
            %h4 Entechpreneur: AOK Changes The Way You Look At Art And Kindness
            %p= "Stan Miao, founder of multiple businesses and author of so many ideas, sat opposite me with tears streaming down his cheeks. ".truncate(120)
            = link_to "Read More", "http://2ndopinion.ph/2017/05/11/aok-changes-the-way-you-look-at-art-and-kindness/#", class: "btn btn-block btn-primary", target: "_blank"

      .col-md-3.col-sm-6
        .thumbnail
          = image_tag("img-storytrender.png", style: "height: 150px")
          .caption
            %h4 Fragiline Futures - Beautiful Cut-Outs Of Endangered Species
            %p= "The beautiful cut-outs of the world’s most endangered species perfectly capture the fragile futures these animals face.".truncate(100)
            = link_to "Read More", "https://www.storytrender.com/12970/fragile-futures-beautiful-cut-outs-worlds-endangered-species/#", class: "btn btn-block btn-primary", target: "_blank"

    .v-spacer-xl
