.container
  %h1.text-center.v-spacer-xl
    Our Services

  .row.v-spacer-lg.text-center
    .col-md-4.col-sm-4
      .service-image
        = image_tag("stamp-icon.png", class: "img-fluid")
      .service-text.v-spacer-sm
        %p Any time we start something new it is exciting and we are very motivated and committed.
    .col-md-4.col-sm-4
      .service-image
        = image_tag("stamp-icon.png", class: "img-fluid")
      .service-text.v-spacer-sm
        %p Hypnosis or Hypnotism, these words often puts, not surprisingly the layman in predicament.
    .col-md-4.col-sm-4
      .service-image
        = image_tag("wallet-icon.png", class: "img-fluid")
      .service-text.v-spacer-sm
        %p How do you create a direct mail advertising campaign that gets results?

  .row.v-spacer-lg.text-center
    .col-md-4.col-sm-4
      .service-image
        = image_tag("plane-icon.png", class: "img-fluid")
      .service-text.v-spacer-sm
        %p The past few years have seen a dramatic change in the public perception of cosmetic surgery.
    .col-md-4.col-sm-4
      .service-image
        = image_tag("case-icon.png", class: "img-fluid")
      .service-text.v-spacer-sm
        %p Summer is often synonymous with beaches, ballparks and barbecues, all offering tempting snacks.
    .col-md-4.col-sm-4
      .service-image
        = image_tag("sertificate.png", class: "img-fluid")
      .service-text.v-spacer-sm
        %p Families traveling with kids will find Amboseli national park a safari destination matched to no other.

  .v-spacer-xl
