#services
  .container
    %h1.text-center.v-spacer-xl
      Our Services

    .row.v-spacer-lg.text-center
      .col-md-4.col-xs-4
        .service-image
          = image_tag("icon-consult.png", class: "img-fluid")
        .service-header
          %h3 Consulting
      .col-md-4.col-xs-4
        .service-image
          = image_tag("icon-design.png", class: "img-fluid")
        .service-header
          %h3 Design
      .col-md-4.col-xs-4
        .service-image
          = image_tag("icon-photo.png", class: "img-fluid")
        .service-header
          %h3 Photo / Video

    .row.v-spacer-lg.text-center
      .col-md-4.col-xs-4
        .service-image
          = image_tag("icon-merch.png", class: "img-fluid")
        .service-header
          %h3 Merch
      .col-md-4.col-xs-4
        .service-image
          = image_tag("icon-events.png", class: "img-fluid")
        .service-header
          %h3 Events
      .col-md-4.col-xs-4
        .service-image
          = image_tag("icon-tech.png", class: "img-fluid")
        .service-header
          %h3 Tech

    %h1.text-center.v-spacer-xl
      Our Partners

    .row.v-spacer-lg.text-center
      .col-md-4.col-xs-4
        .partner-image
          = image_tag("charity-cottolengo.png", class: "img-fluid")
        .service-header
          %h3 Cottolengo Filipino
      .col-md-4.col-xs-4
        .partner-image
          = image_tag("charity-mano-amiga.JPG", class: "img-fluid")
        .service-header
          %h3 Mano Amiga
      .col-md-4.col-xs-4
        .partner-image
          = image_tag("charity-wwf.png", class: "img-fluid")
        .service-header
          %h3 World Wildlife Fund

    .row.v-spacer-lg.text-center
      .col-md-4.col-xs-4
        .partner-image
          = image_tag("charity-drk.jpg", class: "img-fluid")
        .service-header
          %h3 German Red Cross
      .col-md-4.col-xs-4
        .partner-image
          = image_tag("charity-smiletran.png", class: "img-fluid")
        .service-header
          %h3 Smile Train
      .col-md-4.col-xs-4
        .partner-image
          = image_tag("icon-tech.png", class: "img-fluid")
        .service-header
          %h3 This could be you!
          = link_to "Send us a message to see how we can work with your charity.", "mailto:support@aoklife.com"
    .v-spacer-xl
